@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
 
}
.border-plane{
  border-top-right-radius: 12rem 20rem;
  border-top-left-radius: 12rem 20rem;
  border-bottom-right-radius: 5rem 8rem;
  border-bottom-left-radius: 5rem 8rem;
  padding: 17rem 2rem 10rem 2rem;
  border: 0.3rem solid #d2d6d9; 
  margin-top: -11rem; 
}
